*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-family: 'Sora', sans-serif;

}

h2,h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;


}

p,a{
    font-family: 'Mulish', sans-serif;

    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



header #cover-photo{
    height:300px;
    width: 600px;
    background-color: palegoldenrod;

}

header #cover-photo img{
    width: 100%;
    height: 100%;
    
}

.email_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.email_body h1{
    font-size: 2rem;
    margin: 1rem;
}

.email_body h2{
    font-size: 1.2rem;
    margin: 1rem;

}

.email_body p{
    font-size: 1rem;
    padding: 1rem;
    font-weight: 300;
}

#map{
    height: 20rem;
    width: 20rem;
    background-color:#ffd17b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

#map h3{
    margin: 0.5rem;

}

#map a {
padding: 0.5rem;
margin-top: 2rem;
width: 70%;
text-decoration: none;
border-radius: 20px;
background-color: orangered;
color:#fff;

}

.menu{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 3rem;

}

.menu a{
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: orangered;
    color:#fff;
    text-decoration: none;
    width: 50%;


}


.menu-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 1rem;


}

.plates{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.plates img{
    height: 200px;
    width: 200px;
}

footer{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-top:2px #BBBBBB;

}

.share-icons{
    display: flex;
    align-items: center;
    justify-content: center;

}
.share-icons ul{
    list-style: none;
    display: flex;

}

.share-icons li{
    margin: 1rem;

}

.share-icons i{
    color:orangered;

}